body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("bg.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
}

.header {
    text-align: center;
    padding: 200px 0;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    height: 100%;
}

.logo {
    max-width: 150px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255); /* Add white background to the logo */
    padding: 10px; /* Add padding to the logo */
    border-radius: 10px; /* Add rounded corners to the logo */
}

.heading {
    font-size: 30px;
    margin-top: 40px;
}

.text {
    font-size: 18px;
    margin-top: 30px;
    max-width: 650px;
    margin: 0 auto;
    line-height: 1.5;
}

.cta-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #f39c12;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
